.link {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  color: var(--color-text-lighter);
  text-decoration: none;
  transition:
    color var(--duration) ease,
    background-color var(--duration) ease,
    border-color var(--duration) ease,
    transform var(--duration) ease;
  transform-origin: center;

  &:hover {
    color: var(--color-brand);
  }

  &:active {
    transform: scale3d(0.975, 0.975, 1.0);
  }

  &.is-active {
    color: var(--color-brand);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}
