.text-field {
  display: block;
  width: 100%;
  padding: 0.65em 0.75em;
  font-size: var(--font-size-medium);
  line-height: 1;
  color: var(--color-text-darker);
  appearance: none;
  background-color: var(--color-white);
  border: 2px solid rgb(220 220 220);
  border-radius: var(--border-radius);
  transition:
    background-color var(--duration) ease,
    border-color var(--duration) ease;

  &[type="date"] {
    font-family: var(--font-family);

    @supports (-webkit-touch-callout: none) {
      min-height: 2.9em; // iOS ❤️
    }
  }

  &::placeholder {
    color: var(--color-text-lighter);
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0.8;
  }

  &:focus-visible {
    border-color: var(--color-brand);
    outline: none;
  }

  &:user-invalid {
    border-color: var(--color-red);
  }
}
